.App {
  text-align: center;
}
.App-header {
  border-bottom: 5px solid black;
  display: flex;
  font-size: 25px;
  color: black;
}
main {
  border: 2px orange solid;
  border-right: 2px orange solid;
  display: flex;
  margin-top: 15%;
  justify-content: center;
}