
h1 {
  margin-left: 25px;
}

.App-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 
}
.orderRec {
  border: 2px solid orange;
  border-radius: 7%;
  padding: 10px;
  width: 200px;
  margin: 15px;
}
p {
  display: bl
}
.category {
  color:purple;
  font-weight: bold;
}
