.App {
  text-align: center;
}
.App-header {
  border-bottom: 5px solid #38598b;
  justify-content: center;
  display: flex;
  font-size: 25px;
  color: #113f67;
}
.receipt {
  border: 2px #113f67 solid;
  background-color: #e7eaf6;
  border-radius: 5px;
  width: 50%;
  height: 50%;
  font-family: 'Oswald';
  display: inline-block;
  margin-top: 15%;
  justify-content: center;
}