  @import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');


.App {
  text-align: center;
}

.title{
  font-family: 'Happy Monkey', cursive;
  color: red;
  text-align: left;
  font-size: 50px;
  margin-left: 48px;
}

h2{
  text-decoration: underline;
  color:rgb(0, 0, 0);
}

.App-header{
  height: 100px;
  background-color:black;
  border: 3px solid black;
}

ul{
  list-style: none;
  text-align: left;
  font-weight: bold;
}

.receipt-block{
  background-color: lightgray;
  display: flex;
  justify-content: space-evenly;
 
}

.receipt1, .receipt2, .receipt3, .receipt4{
  background-color: rgb(230, 204, 175);
  border:2px solid black;
  border-top: none;
  width:400px
}

.receipt1:hover, .receipt2:hover, .receipt3:hover,  .receipt4:hover{
  background-color: goldenrod;
}

button{
  background-color: red;
  color:black;
  width:105px;
  height:30px;
  border-radius: 5px;
  font-weight: bold;
  position: relative;
  margin-bottom: 20px;
}

button:hover{
  background:rgb(185, 153, 140);
  font-weight: bold;
}

button:active{
  background-color: rgb(245, 236, 236);
  color:red;
  font-weight: bold;
  height: 34px;
  width: 110px;
}

img{
  width: 1300px;
}