body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
ul{
  list-style: none;

}
.receiptSlots{
  height: 300px;
  width: 300px;
  background-color: rgb(244, 224, 201);
  border-radius: 5%;
  box-shadow: 1px 1px 1px  rgb(115, 112, 112);
}

.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
} 
