.App {
  font-family: 'Julee', cursive;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

p{
  display: flex;
  margin: 20px;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: left;
  font-size: calc(10px + 1vmin);
  color: rgba(53, 5, 58, 0.809);
}

.copy {
  border: 2px solid maroon;
  height: 40vmin;
  width: 25vmin;
  background: white;
  margin: 20px;
  padding: 20px;
}
ul {
  list-style-type: none;
  text-align: left;
}
li {
  margin-bottom: 12px;
}

#type {
  text-decoration: underline;
  font-weight: bold;
  color: black;
}

h2 {  
  display: flex;
  justify-content: right;
}
#check {
  font-size: 14vmin;
}

